<!doctype html>
<html lang="en">

<head>
    <title>Sing Up</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" href="../Css/logIn.css">
</head>

<body>
    <div id="logreg-forms">
        <form action="#" class="form-signup">
            <!-- <div class="social-login">
                <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Đăng nhập bằng tài khoản Facebook</span> </button>
            </div>
            <div class="social-login">
                <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Đăng nhập bằng  tài khoản Google</span> </button>
            </div> 

            <p style="text-align:center">OR</p> -->
            <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Đăng Ký</h1>

            <input type="text" id="user-name" class="form-control" placeholder="Họ tên" required="" autofocus="">
            <input type="email" id="user-email" class="form-control" placeholder="Địa chỉ email" required autofocus="">
            <input type="email" id="user-phone" class="form-control" placeholder="Số điện thoại" required autofocus="">
            <input type="password" id="user-pass" class="form-control" placeholder="Mật Khẩu" required autofocus="">
            <input type="password" id="user-repeatpass" class="form-control" placeholder="Nhập lại mật khẩu" required
                autofocus="">

            <div class="input-group">
                <button class="btn btn-md btn-block submit"><i class="fas fa-user-plus"></i> Đăng Ký</button>
            </div>

            <a href="./logIn.html" id="cancel_signup"><i class="fa fa-angle-left"></i> Trở Lại</a>
        </form>
        <br>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>