.owl-prev, .owl-next{
    position: absolute;
    top: 33%;
    left: -3%;
    padding: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%!important;
    background-color: #ffffff!important;
    box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    z-index: 3;

    span{
        color: $color_blue_3;
        font-size: 40px;
        line-height: 0.6;
    }
    &:focus{
        outline: none;
    }
}
.owl-next{
    left: unset;
    right: -3%;
}
.owl-carousel{
    background-color: #ffffff;
    .card{
        border: none;
        border-radius: none;
        img{
            transform: translateY(0.5rem);
            transition: all 0.6s;
            &:hover{
                transform: translateY(0);
            }
        }
        .card-body{
            a{
                text-decoration: none;
                color: $color-black-0;
                &:hover{
                    color: $color_blue_1;
                    transition: all 0.5s;
                }
            }
        }
    }
    .owl-dots{
        display: none;
        span{
            background-color: #ffffff!important;
            border: solid 1px #bbb;
        }
        .active{
            span{
                background-color: #ff1010!important;
                border: solid 1px #ff1010;
            }
        }
    }
}