<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UserProfile</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v4.0&appId=622819194797848&autoLogAppEvents=1"
    ></script>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- Link CSS FILE -->
    <link rel="stylesheet" href="../../Css/index.css" />
    <link rel="stylesheet" href="../../Css/headerMenu.css" />
    <link rel="stylesheet" href="../../Css/userProfile.css" />

    <!-- link font -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap&subset=vietnamese"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
    />
  </head>

  <body>
    <!-- Header -->
    <header class="myHeader">
      <div class="header__Content container">
        <nav class="myNavbar navbar navbar-expand-lg">
          <a class="navbar-brand" href="./index.html">Logo</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline my-2 my-lg-0 ml-auto">
              <input
                class="form-control mr-sm-2 headerSearch"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <div class="button">
                <button class="btn btn__red my-2 my-sm-0" type="submit">
                  Search
                </button>
              </div>
            </form>
            <ul class="navbar-nav ml-auto header__gioHang">
              <li class="nav-item">
                <a class="nav-link" href="./gioHang.html"
                  ><i class="fa fa-shopping-cart"></i> Giỏ Hàng</a
                >
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="../View/logIn.html"
                  ><i class="fa fa-user"></i> Đăng Nhập</a
                >
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <div id="menu_area" class="menu-area header_menu">
        <div class="container">
          <div class="row">
            <nav class="navbar navbar-light navbar-expand-lg mainmenu">
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="dropdown">
                    <a
                      class="dropdown-toggle"
                      href="#"
                      id="navDienThoai"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                      ><span><i class="fa fa-mobile"></i></span> ĐIỆN THOẠI</a
                    >
                    <ul class="dropdown-menu" aria-labelledby="navDienThoai">
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li class="dropdown">
                        <a
                          class="dropdown-toggle"
                          href="#"
                          id="navDienThoai"
                          role="button"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          >4</a
                        >
                        <ul
                          class="dropdown-menu"
                          aria-labelledby="navDienThoai"
                        >
                          <li><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a
                      class="dropdown-toggle"
                      href="#"
                      id="navLapTop"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                      ><span><i class="fa fa-laptop"></i></span> LAPTOP</a
                    >
                    <ul class="dropdown-menu" aria-labelledby="navLapTop">
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li class="dropdown">
                        <a
                          class="dropdown-toggle"
                          href="#"
                          id="navLapTop"
                          role="button"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          >4</a
                        >
                        <ul class="dropdown-menu" aria-labelledby="navLapTop">
                          <li><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a
                      class="dropdown-toggle"
                      href="#"
                      id="navTabLet"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                      ><span><i class="fa fa-tablet-alt"></i></span> TABLET</a
                    >
                    <ul class="dropdown-menu" aria-labelledby="navTabLet">
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li class="dropdown">
                        <a
                          class="dropdown-toggle"
                          href="#"
                          id="navTabLet"
                          role="button"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          >4</a
                        >
                        <ul class="dropdown-menu" aria-labelledby="navTabLet">
                          <li><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a
                      class="dropdown-toggle"
                      href="#"
                      id="navPhuKien"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                      ><span><i class="fa fa-headphones"></i></span> PHỤ KIỆN</a
                    >
                    <ul class="dropdown-menu" aria-labelledby="navPhuKien">
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li class="dropdown">
                        <a
                          class="dropdown-toggle"
                          href="#"
                          id="navPhuKien"
                          role="button"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          >4</a
                        >
                        <ul class="dropdown-menu" aria-labelledby="navPhuKien">
                          <li><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a
                      class="dropdown-toggle"
                      href="#"
                      id="navPhuKien"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                      ><span><i class="fa fa-headphones"></i></span> PHỤ KIỆN</a
                    >
                    <ul class="dropdown-menu" aria-labelledby="navPhuKien">
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li class="dropdown">
                        <a
                          class="dropdown-toggle"
                          href="#"
                          id="navPhuKien"
                          role="button"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          >4</a
                        >
                        <ul class="dropdown-menu" aria-labelledby="navPhuKien">
                          <li><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a
                      class="dropdown-toggle"
                      href="#"
                      id="navKhuyenMai"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                      ><span><i class="fa fa-gift"></i></span> KHUYẾN MÃI</a
                    >
                    <ul class="dropdown-menu" aria-labelledby="navKhuyenMai">
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li class="dropdown">
                        <a
                          class="dropdown-toggle"
                          href="#"
                          id="navKhuyenMai"
                          role="button"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          >4</a
                        >
                        <ul
                          class="dropdown-menu"
                          aria-labelledby="navKhuyenMai"
                        >
                          <li><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- End Header -->

    <!-- User Profile -->
    <section class="userProfile">
      <div class="container">
        <div class="wrapper">
          <!-- Sidebar  -->
          <nav id="sidebar">
            <ul class="list-unstyled components">
              <li class="active">
                <a href="userProfile.html">
                  <i class="fa fa-user text-warning"></i>
                  Tài Khoản
                </a>
              </li>
              <li>
                <a href="./userProducts.html">
                  <i class="fa fa-box text-success"></i>
                  Đơn hàng
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-address-card text-primary"></i>
                  Địa chỉ
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-sign-out-alt text-danger"></i>
                  Đăng suất
                </a>
              </li>
            </ul>
          </nav>

          <!-- Page Content  -->
          <div id="content" class="products__content">
            <div class="products__info">
              <h5>
                Đơn hàng: 123123123,
                <span>đặt lúc: 17/11/2019 1:30PM</span>
              </h5>
              <b class="mt-2"><a href="./userProducts.html">Trở lại trang đơn hàng</a></b>
              <hr>
              <div class="products__add">
                <h5>Địa chỉ nhận thanh toán</h5>
                <p>Tên Khách Hàng: Nguyễn Văn A</p>
                <p>450/130 Đoàn Văn Bơ, phường 14, quận 4</p>
                <p>Hồ Chí Minh</p>
                <p>Số ĐT: 0924444740</p>
              </div>
            </div>
            <table class="table table-bordered text-center">
              <thead>
                <tr>
                  <th scope="col-md-6">Sản Phẩm</th>
                  <th scope="col-md-2">Giá</th>
                  <th scope="col-md-2">Số Lượng</th>
                  <th scope="col-md-2">Tổng Cộng</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <a href="../chiTietSanPham.html"
                      >Samsung Galaxy S10+ (512GB)</a
                    >
                  </td>
                  <td>17.000.000 đ</td>
                  <td>1</td>
                  <td>17.000.000 đ</td>
                </tr>
                <tr>
                  <td>
                    <a href="../chiTietSanPham.html"
                      >Oppo F10</a
                    >
                  </td>
                  <td>17.000.000 đ</td>
                  <td>1</td>
                  <td>17.000.000 đ</td>
                </tr>
                <tr>
                    <td colspan="3"><b>Tổng Tiền</b></td>
                    <td><b>34.000.000 đ</b></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <!-- end User Profile -->

    <!-- Footer -->
    <footer class="myFooter">
      <div class="footer__content container">
        <div class="row">
          <div class="footer__info col-md-4">
            <h5>CÔNG TY TNHH CÔNG NGHỆ ABC</h5>
            <p>
              Địa chỉ: 475A Điện Biên Phủ, Phường 25, Quận Bình Thạnh, Tp.HCM
              Điện thoại: 1800 1234 (miễn phí) Email:nhan120298@gmail.com
            </p>
            <span>Hotline: 1800 6975</span>
            <h5>THỜI GIAN LÀM VIỆC: 08:30 - 21:30 TỪ THỨ 2 ĐẾN CHỦ NHẬT</h5>
            <img src="../../Images/boCongThuong.png" alt="" />
          </div>
          <div class="footer__map col-md-4">
            <h5>ĐỊA CHỈ CỬA HÀNG</h5>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1257424104197!2d106.71223795128559!3d10.801680261640778!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528a501281b1f%3A0x6f43044e459b3132!2zNDc1YSDEkGnhu4duIEJpw6puIFBo4bunLCBQaMaw4budbmcgMjUsIELDrG5oIFRo4bqhbmgsIEjhu5MgQ2jDrSBNaW5oIDcwMDAwLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1571671070503!5m2!1svi!2s"
              width="350"
              height="300"
              frameborder="0"
              style="border:0;"
              allowfullscreen=""
            ></iframe>
          </div>
          <div class="footer__fanpage col-md-4">
            <h5>FANPAGE fACEBOOK</h5>
            <div id="fb-root"></div>
            <div
              class="fb-page"
              data-href="https://www.facebook.com/gearvnhcm/"
              data-tabs="timeline"
              data-width=""
              data-height="350px"
              data-small-header="true"
              data-adapt-container-width="true"
              data-hide-cover="false"
              data-show-facepile="true"
            >
              <blockquote
                cite="https://www.facebook.com/gearvnhcm/"
                class="fb-xfbml-parse-ignore"
              >
                <a href="https://www.facebook.com/gearvnhcm/">Gearvn</a>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="jquery-3.4.1.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script src="../js/owl.carousel.min.js"></script>
    <script>
      (function($) {
        $(".dropdown-menu a.dropdown-toggle").on("click", function(e) {
          if (
            !$(this)
              .next()
              .hasClass("show")
          ) {
            $(this)
              .parents(".dropdown-menu")
              .first()
              .find(".show")
              .removeClass("show");
          }
          var $subMenu = $(this).next(".dropdown-menu");
          $subMenu.toggleClass("show");

          $(this)
            .parents("li.nav-item.dropdown.show")
            .on("hidden.bs.dropdown", function(e) {
              $(".dropdown-submenu .show").removeClass("show");
            });

          return false;
        });
      })(jQuery);
    </script>
    <script>
      $(".owl-carousel").owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        responsive: {
          0: {
            items: 1
          },
          600: {
            items: 3
          },
          1000: {
            items: 5
          }
        }
      });
    </script>
  </body>
</html>
